/* Very hard-coded although I do not think a browser extension needs to be responsive */

/* General */

body {
  margin: 0;
}

button {
  padding: 0;
}

header {
  display: flex;
  border-bottom: 0.1em solid black;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

h1 {
  flex-basis: 50%;
  text-align: center;
  color: rgb(50, 50, 50);
}

.header-button {
  flex-basis: 25%;
}

.App {
  width: 22em;
  height: 30em;
  background-color: #f8f2e6;
  padding: 1em;
  overflow-y: scroll;
}

.labelled-item {
  display: flex;
  padding-inline: 0.75em;
}

.labelled-item label {
  line-height: 38px;
  padding-right: 1em;
  margin-right: auto;
  font-size: 1.5em;
  margin-bottom: 3em;
}

/* Settings */

.setting {
  margin-bottom: 3em;
}

.color-input-label {
  font-size: 1.8em;
  text-align: center;
}
