/* Very hard-coded although I do not think a browser extension needs to be responsive */
body {
  margin: 0;
}

button {
  padding: 0;
}

header {
  display: flex;
  border-bottom: 0.1em solid black;
  padding-bottom: 1em;
  margin-bottom: 4em;
}

h1 {
  flex-basis: 50%;
  text-align: center;
  color: rgb(50, 50, 50);
}

.nav-button {
  flex-basis: 25%;
}

.form-field {
  margin-bottom: 4em;
}

.bg-color-input {
  margin: auto;
  margin-left: 1em;
  flex-grow: 1;
}

.App {
  width: 22em;
  height: 30em;
  background-color: #c1e6dd;
  padding: 1em;
}

.labelled-item {
  display: flex;
  padding-inline: 0.75em;
  padding-bottom: 4em;
}

.labelled-item label {
  padding-right: 1em;
  margin-right: auto;
  font-size: 1.5em;
}