/* Very hard-coded although I do not think a browser extension needs to be responsive */

/* General */

body {
  margin: 0;
  position: relative;
}

button {
  padding: 0;
}

header {
  display: flex;
  border-bottom: 0.1em solid black;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

h1 {
  flex-basis: 50%;
  text-align: center;
  color: rgb(50, 50, 50);
}

.header-button {
  flex-basis: 25%;
  margin-top: 1em;
}

.App {
  width: 22em;
  height: 30em;
  background-color: #f8f2e6;
  padding: 1em;
  overflow-y: scroll;
}

/* Settings */

.accordion-element {
  position: relative;
}

.accordion-overlay {
  top: 0;
  right: 0;
  margin-top: 0.5em;
  z-index: 9;
  position: absolute;
}

.setting {
  margin-bottom: 2em;
}

.color-input-label {
  font-size: 1.8em;
  text-align: center;
}
