css 
h1 {
  margin: 0;
  padding-top: 1%;
}

.App {
  text-align: center;
  background-color: #d9e8fa;
  font-size: calc(10px + 2vmin);
}

.popular-cards::-webkit-scrollbar {
  display: none;
}

.popular-cards {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 50vh;
  border-style: solid;
  border-width: 1em;
  border-color: #68a8dc;
  background-color: #68a8dc;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: space-evenly;
}

.card {
  width: 29.3%;
  margin-bottom: 2%;
}

.demo-div-wrapper {
  padding-top: 25%;
}

.demo-menu-div {
  padding: 1%;
  float:left;
  width: 30%;
  background-color: aquamarine;
  overflow-wrap: break-word;
}

.demo-display-div {
  float:right;
  width: 68%;
  padding: 1%;
}
