h1 {
  text-align: center;
  margin: 0;
  padding-top: 1%;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  padding-top: 1%;
  font-size: 1em;
}

.App {
  background-color: #d9e8fa;
  font-size: calc(10px + 2vmin);
  padding-bottom: 1%;
}

.popular-cards-header {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 2%;
  background-color: white;
}

.popular-cards {
  height: 50vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.card {
  flex-basis: 25%;
  margin-inline: 2%;
  margin-bottom: 2%;
}

/* Demo */
.demo-header {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.demo {
  background-color: white;
  display: inline-flex;
}

.demo-description {
  font-size: 0.75em;
  padding-left: 3%; 
  padding-right: 3%; 
  margin-top: 2%;
}

.demo-menu {
  min-width: 30%;
  margin-left: 1em;
  margin-bottom: 1em;
}

.demo-toggle {
  text-align: center;
  padding: 5%;
}

.demo-download {
  margin-bottom: 5%;
  text-align: center;
}

/* Settings */

.accordion {
  position: relative;
}

.accordion-overlay {
  top: 0;
  right: 0;
  margin-top: 0.3em;
  position: absolute;
}

.setting {
  margin-bottom: 10%;
}

/* Demo page */

/* labelled image */
.demo-labelled-img {
  text-align: center;
  display: inline-flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.demo-labelled-img img {
  height: 10%;
  width: 20%;
  margin-left: 2%;
}

.demo-labelled-img p {
  margin: auto 0;
}

.demo-labelled-img p {
  margin-left: 3%;
}

/* list and link */

.demo-list-link {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.demo-list-link p {
  padding-left: 5%;
  text-align: left;
}

.demo-list-link ul {
  text-align: left;
}

.demo-list-link div {
  border: 1px solid;
  flex-basis: 40%;
  text-align: center;
}

.demo-list {
  background-color: rgb(200, 200, 200);
}

.demo-link {
  background-color: rgb(180, 180, 180);
}

/* General */
.demo-page h1 {
  font-size: 1.3em;
}

.demo-page {
  padding: 1%;
  text-align: left;
  margin: 1em;
  font-size: 0.5em;
  border: 0.1em solid;
}